/*-----Dat ten class co ten minh de phan biet nha------------*/
body {
	color: white;
}
@font-face {
    font-family: Taviraj;
    src: url(../font/Taviraj-Regular.ttf);
}


/* Hoa */
.container{
	margin-right: 0;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	overflow-x: hidden;
}

.div-tagline{
	position: absolute;
}

.nav {
	font-family: Taviraj;
	font-size: 1em;
}

.nav-menu {
	background: rgba(238, 210, 238, 0);
	border-style: none;
}

.navbar-default .navbar-nav>li>a {
	color: #42a791;
}
.navbar-default .navbar-nav>li>a:hover {
	color: white;
}
.navbar-default .navbar-nav>li>a:active {
	color: white;
}

.navbar-default .navbar-nav>li>a[tabindex]:focus {
	/*Doi mau link sau khi click, not :visit*/
	color: white;
	outline: none;
}

a{
	padding-top: 0;
}
.img_m{
	width: 100%;
}
.img_d{
	width: 100%;
}

.div-head {
	padding-left: 0;
	padding-right: 0;
}

.navbar-nav>li>a {
	padding-top: 0.6em;
}





/* Hoa */




/*ids and classes of huong*/
.background_img1 
{
    background-image: url(../img/background_eco.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    height:  100%;
    width: 100%;  
    padding: 0em 0em;
    margin: 0em 0em;
    height: 1054px; width: auto;
}
.background_img2
{
    background-image: url(../img/background_pure.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    height:  100%;  
    width: 100%;
    padding: 0em 0em;
    margin: 0 0;
    height: 1054px; width: auto;
}
.background_img3
{
    background-image: url(../img/background_neo.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    height:  100%;
    width: 100%;  
    max-width: 100%;
    padding: 0em 0em;
    margin: 0;
    height: 1054px; width: auto;
}
.button_sp1{
    background: none;
    padding: 2em 20em 2em 0em;
    border-style: none;
    width: 20vw;
    height: 6vw;
    margin-top: 410px; margin-left:  8em;
}

.button_sp2{
    background: none;
    padding: 2em 20em 2em 0em;
    border-style: none;
    width: 20vw;
    margin-top: 410px; margin-left:  5em;
    height: 6vw;
}

.button_sp3{
    background: none;
    padding: 2em 20em 2em 0em;
    border-style: none;
    width: 20vw;
    height: 6vw;
    margin-top: 410px; margin-left:  2em;
}


.scrollwrap {
    width: 100vw;
    overflow-x: scroll;
}
.scrollwrapinside {
    width: 200vw;
}
.scrollwrapleft {
    padding: 10px;
     width: 92vw;
    float: left;
}
.scrollwrapright {
    position: relative;
    width: 100vw;
    float: right;
}

.scroll {
    margin-top: 1em;
    margin-left: 5em;
    background: none;
    padding-top: 30px;
    width: 39vw;
    height: 39vw;
    
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
    position: relative;
    
}

.greencolor {
    font-weight: bold;
    color: #004234;
}
#section1{
    z-index: 3;
    position: absolute;
}
#section2{
    z-index: 2;
    position: absolute;
}
#section3{
    z-index: 1;
    position: absolute;
}



.bigtitle {
    text-transform: uppercase;
    width: 100vw;
    text-align: center;
    position: absolute;
    font-size: 1.4vw;
    text-align: center;
    font-family: Taviraj, serif; 
    padding-top: 10px; 
    font-size: 14pt;
}
#bigtitle1 {
    top: 0.5vw;
    color: #004234;
}

.desktop{
	padding-bottom: 30px;
	margin-bottom: 75em;
}

.mobile{
	padding-bottom: 0em ;
	display: none;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
    border: 4px solid transparent;
    background-clip: content-box; // this is important
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #004234;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 9px;
}
@media screen and (max-width: 768px) {
	.background_img1 
	{
	    background-image: none;
	    background-repeat: no-repeat; 
	    background-size: cover; 
	    background-position: center;
	    height:  auto;
	    width: 100%;  
	    padding: 0;
	    margin: 0;
	    padding-bottom: 10px;
	}
	.background_img2
	{
		background-image: none;
	    background-repeat: no-repeat; 
	    background-size: cover; 
	    background-position: center;
	    height:  auto;
	    width: 100%;  
	    padding: 0;
	    margin: 0;
	    padding-bottom: 0;
	   
	}
	.background_img3
	{
		background-image: none;
	    background-repeat: no-repeat; 
	    background-size: cover; 
	    background-position: center;
	    height:  auto;
	    width: 100%;  
	    padding: 0;
	    margin: 0;
	    padding-bottom: 0;
	}
	.desktop{
		
		display: none;
	}
	.mobile {
		display: block;
	}
	#section1{
	    /*z-index: auto;
	    position: absolute;*/
	}
	#section2{
	    /*z-index: auto;
	    position: absolute;*/
	}
	#section3{
	    /*z-index: auto;
	    position: absolute;*/
	}

	.scrollmobile{
	    width: 100vw;
        overflow-x: scroll;
     	-webkit-overflow-scrolling:touch;
	}
	.scrollwrapinside {
        width: 200vw;
    }
	.scrollleft{
        padding: 10px;
        width: 120vw;
      	float: left;
    }
    .scrollright{
        position: relative;
        width: 100vw;
        float: right;
         width: 80vw; height: auto;
    }

    ::-webkit-scrollbar {
	    width: 9px;
	}

	::-webkit-scrollbar-track {
	    background: rgb(0, 0, 0);
	    border: 4px solid transparent;
	    background-clip: content-box; // this is important
	}


	/* Handle */

	::-webkit-scrollbar-thumb {
	    background: #004234;
	    border: 1px solid rgb(0, 0, 0);
	    border-radius: 7px;
	}
}


/*classes and ides of huong*/


.tinh-nang {
	background-image: url("../img/background-tinhnang.png");
	height: auto;
	background-size: cover;
	background-position: center;
	width: 100%;

    font-family: Taviraj;
    font-style: italic;
    color: #004234;
}

.div-tinh-nang {
    margin-bottom: 2vw;
}

.div-description {
    margin-top: 3vw;
}
.line {
    margin-bottom: 5vw;
}

.img-size {
    width: 100%;
    height: auto;
}

.image-content {
    margin-top: 4vw;
}

.div-img-title {
	margin-bottom: 1.5vw;
}

.description {
    font-size: 1.3vw;
    font-style: initial;
    color: black;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: #004234;
    border-width: 0.2vw;

    padding: 0.5vw 0;
}


.advertisement {
    background-image: url("../img/khuyenmai-2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;

	padding-top: 19vw;
	padding-bottom: 3vw;

    font-family: Taviraj;
}

.text-ad {
    color: white;
	font-size: 1.2em;
	font-style: italic;
}

.button-ad, .button-ad:hover, .button-ad:focus, .button-ad:active {
	border-style: none;
	background-color: #004234;
	border-radius: 20px;
	padding-left: 3em;
	padding-right: 3em;
	margin-top: 1vw;
	font-weight: bolder;
	border-style: none;
	outline: 0;
}

strong.gradient-text {
    background-image: -webkit-linear-gradient(bottom, #FF9900, #FFFF99, #FF9900);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.contact {
    color: white;
    font-style: italic;
    font-family: Tavirai;

    background-image: url("../img/khuyenmai.jpg");
	width: 100%;
	background-repeat: repeat-y;
	background-position: center;

}

.text-contact {
	font-size: 1.3em;
}

.info-company {
    font-size: 1.1em;
}

.board {
	margin-bottom: 1.5vw;
	
}

.div-hoten {
	font-size: 1.4em;
}

.form-color {
    background-color: #6F948C;
    border-style: none;
}



#comment {
    margin-bottom: 2vw;
}

.button-sent, .button-sent:focus, .button-sent:hover, .button-sent:active {
    padding-right: 3vw;
    padding-left: 3vw;
    background-color: white;
    color: black;
    font-style: initial;
    border-style: none;
    outline: none;
}

@media screen and (max-width: 480px) {
    .description {
        font-size: 3vw;
    }

    .div-img {
		margin-top: 8vw;
	}
	
	.div-col{
		padding: 0;
		text-align: center;
	}
	.img_d{
		display: none;
	}
	.tg_d{
		display: none;
	}
	.tg_m{
		width: 85%;
	}
	.div-tagline{
		top: 85%;
	}

	.background-menu {
		display: none;
	}

	button.navbar-toggle {
		margin-bottom: 0;
	}
	.head-menu {
		padding-right: 0;
		padding-left: 0;
	}

	div.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}


	.bg-li {
		background-image: url("../img/bg-li.png");
		background-repeat: no-repeat; 
		background-size: cover; 
		background-position: center;
		border-bottom-style: solid;
		border-bottom-color: white;
		border-bottom-width: 1px;
	}

	img.img-size.background-menu-m {
		position: relative;
		z-index: 1;
	}
	div.navbar-header {
		padding-right: 2em;
		position: relative;
		top: -65px;
		z-index: 2;

	}

	div#navbar.navbar-collapse.collapse.in {
		border-top-style: none;
		position: relative;
		top: -67px;
		font-size: 1em;
		/*z-index de thiet lap thu chong len nhau cua cac block cung cap
		Phai cos thuoc tinh position: relative; Thuong di kem vs 
		top, bottom, left, right
		Mac dinh z-index = 0. z-index cang lon cang nam len tren*/
	}

	div#navbar.navbar-collapse.collapsing {
		border-top-style: none;
		position: relative;
		top: -67px;
		z-index: -1;
		font-size: 1em;
	}

	button.navbar-toggle {
		background: rgba(238, 210, 238, 0);
		border-style: none;
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background: rgba(238, 210, 238, 0);
	}

	.div-hoten {
		text-align: center;
	}

}

@media screen and (max-width: 992px) and (min-width: 481px){

	.description {
		font-size: 2vw;
	}

	.div-img {
		margin-top: 8vw;
	}
	.background-menu {
		display: none;
	}

	.head-menu {
		padding-right: 0;
		padding-left: 0;
	}

	div.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}

	div#navbar.navbar-collapse.collapse {
		position: relative;
		top: -120px;
		font-size: 0.65em;
	}

	
	.div-col{
		padding-left: 60px;
	}
	.img_d{
		display: none;
	}
	.tg_d{
		display: none;
	}
	.tg_m{
		width: 120%;
	}
	.div-tagline{
		top: 85%;
	}

}

@media only screen and (min-width: 992px) {
	.background-menu-m {
		display: none;
	}
	.img_m{
		display: none;
	}
	.tg_m{
		display: none;
	}
	.tg_d{
		width: 400px;
		margin-left: 40px;
	}
	.div-tagline{
		width: 100%;
		top: 26%;
	}
}