/*-----Dat ten class co ten minh de phan biet nha------------*/
@font-face {
	font-family: Taviraj;
	src: url(../font/Taviraj-Regular.ttf);
}


/* Hoa */
.container{
	margin-right: 0;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	overflow-x: hidden;
}
.imgh{
	width: 100%;
	height: 100%;
}
.container-fluidh{
	padding-right: 0;
	padding-left: 0;
	margin-right: 0;
	margin-left: 0;
}
.navbar-toggle{
	background: green;
	border-radius: 1px solid white;
	padding: 0;
	margin: 0;
	right: 20px;
	top: 0;
	position: absolute;
}
.navbar-collapse li{
	display: inline-table;
}
.navbar-collapse{
	top: 0;
	position: absolute;
	right: 5px;
}
a{
	text-decoration: none;
	background-color: transparent;
	color: #42a791;
	text-align: center;
}
.col-xs-12h{
	padding-left: 0;
	width: 100%;
	padding-right: 0;
}
.col-md-12h{
	padding-left: 0;
	width: 100%;
	padding-right: 0;
}
.icon-bar{
	background: white;
}
.tagline{
	top:25%;
	position: absolute;
	width: 100%;
}
/* Hoa */

/*class of huong*/
.background_img1 
{
    background-image: url(../img/background_eco.jpg);
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center;
	height:  100%;  
	padding: 00px 00px;
	margin: 0;
}
.background_img2
{
    background-image: url(../img/background_pure.jpg);
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center;
	height:  100%;  
	padding: 00px 00px;
	margin: 0;
}
.background_img3
{
    background-image: url(../img/background_neo.jpg);
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center;
	height:  100%;  
	padding: 00px 00px;
	margin: 0;
}
.button_sp {
	background: none;
	padding: 40px 280px 40px 0px;
	border-style: none;
}

.scrollwrap {
	width: 100vw;
	overflow-x: scroll;
}
.scrollwrapinside {
    width: 200vw;
}
.scrollwrapleft {
	padding: 10px;
 	width: 92vw;
    float: left;
}
.scrollwrapright {
        position: relative;
        width: 100vw;
        float: right;
}

.scroll {
	margin-top: 50px;
	margin-left: 100px;
    background: none;
    width: 39vw;
    height: 36vw;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    float: left;
    position: relative;
}

.greencolor {
    font-weight: bold;
    color: #004234;
}
#section1{
	z-index: 100;
	position: absolute;
}
#section2{
	z-index: 10;
	position: absolute;
}
/*class and id of huong*/

